{
    "globals": {
        "module": true,
        "require": true,
        "__dirname": true
    },

    "parserOptions": {
        "ecmaVersion": 7,
        "sourceType": "module",
        "ecmaFeatures": {
            "modules": true
        }
    },


    "extends": [ "./index.js" ]
}